<ng-container *ngIf="product">
    <div class="panel panel-warning">
        <div class="panel-heading">
            {{ product.name }}
        </div>
        <div class="panel-body">
            <p>Изготовлен: {{ product.created }}</p>
            <p>Срок годности: {{ product.shelfLife }}</p>
            <p>Убран в холодильник: {{ product.movedToRef }}</p>
        </div>
        <div class="panel-footer"
        (click)="remove(product)"
        >
            Убрать из списка
        </div>
    </div>
</ng-container>
