<form class="navbar-form navbar-left">
  <div class="form-group">
    <input type="text" class="form-control"
    placeholder="Название продукта"
    [value]="name"
    (input)="name=$event.target.value">
  </div>
  <button class="btn btn-primary navbar-btn"
          type="button"
          (click)="toggle()">
    Добавить
  </button>
</form>
<!-- Modal -->
<div class="col-xs-6 col-md-4 col-lg-4" 
     id="addProductModal" 
     *ngIf="isActive">
  <div class="panel panel-success">
    <div class="panel-heading">
      Новый продукт
    </div>
    <!-- Body -->
    <div class="panel-body">
      <div class="new-product-input-group">
          <label for="nameInput">Название</label>
          <input type="text" id="nameInput"
          (input)="name=$event.target.value" 
          [value]="name"
          (keyup.enter)="createProduct()"
          [redOutline]="!isNameValid">
        </div>
        <div class="new-product-input-group">
            <label for="nameInput">Дата изготовления</label>
          <input type="date"
          (input)="createdAt=$event.target.value" 
          [value]="createdAt"
          (keyup.enter)="createProduct()"
          [redOutline]="!isCreatedAtValid">
        </div>
        <div class="new-product-input-group">
            <label for="nameInput">Срок годности</label>
          <input type="date"
          (input)="shelfLife=$event.target.value" 
          [value]="shelfLife"
          (keyup.enter)="createProduct()"
          [redOutline]="!isShelfLifeValid">
        </div>
        <div class="new-product-input-group">
            <label for="nameInput">Убран в холодильник</label>
          <input type="date"  
            (input)="movedToRefrigeratorAt=$event.target.value"
            [value]="movedToRefrigeratorAt"
            (keyup.enter)="createProduct()"
            [redOutline]="!isMovedValid">
        </div>
    </div>
    <!-- /Body -->
  </div>
</div>


