<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Refrigerator control</a>
            <app-add-product></app-add-product>
        </div>
    </div>
</nav>
<div class="container main">
    <div class="row">
        <div class="col-md-3 col-xs-6">
            <app-product-list></app-product-list>
        </div>
        <div class="col-md-3 col-xs-6">
            <app-show-product></app-show-product>
        </div>
    </div>
</div>


